*{
    list-style: none;
}

button{
    opacity: .5;
}

body{
    display: flex;

    #loading-page{
        height: 100vh;
        width: 100vw;
        z-index: 4;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        font-weight: 700;
        font-family: cursive;
    }

    main{
        display: none;
        background-color: black;
        z-index: 2;
        height: 100%;
        width: 100%;
        // background-color: black;
        section{
            margin-top: 85px;
            position: relative;
        }

    }

    canvas{
        position:absolute;
        z-index: -1;
    }
}

.nav-bar{
    margin: 10px 25px;
    display:flex;
    position: fixed;
    left:0;
    right:0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    > *{
        display: flex;
        justify-content:left;
        align-items: center;
        background-color: rgba( white, 0.5);
        padding: 5px 7px;
        border-radius: 50%;

        *{
            padding: 5px 10px;

        }
    }
    p{
        font-weight: 400;
        font-size: 24px;
        padding: 6px 31px;
    }
    a, a:hover, a:focus{
        text-decoration: none;
        cursor:pointer;

    }
    #anime, #manga, #songs{
        // animation: glow 1s infinite alternate;
        animation: none;
        @keyframes glow{
            from { // initial setting array
                text-shadow: // setting the inital shadow offset(0,0) size and color
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #a83d45,
                0 0 20px #a83d45,
                0 0 25px #a83d45,
                0 0 30px #a83d45,
                0 0 35px #a83d45;
              }

              to { // ending setting array
                text-shadow:
                0 0 10px #fff,
                0 0 15px #651b17,
                0 0 20px #651b17,
                0 0 25px #651b17,
                0 0 30px #651b17,
                0 0 35px #651b17,
                0 0 40px #651b17;
              }
        }
    }
    .access{
        margin-right: 130px;
    }

}

.zoomed-description {
    margin-left: 20px;
    color:white;
    a, a:hover, a:focus, a:active{
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
    }

    h2{
        margin-top:0px;
        font-size: 30px;
        text-align: center;
        animation: glow 1s infinite alternate;
        @keyframes glow{
            from { // initial setting array
                text-shadow: // setting the inital shadow offset(0,0) size and color
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #ED535D,
                0 0 20px #ED535D,
                0 0 25px #ED535D,
                0 0 30px #ED535D,
                0 0 35px #ED535D;
              }

              to { // ending setting array
                text-shadow:
                0 0 10px #fff,
                0 0 15px #C72E26,
                0 0 20px #C72E26,
                0 0 25px #C72E26,
                0 0 30px #C72E26,
                0 0 35px #C72E26,
                0 0 40px #C72E26;
              }
        }
    }
    p{
        font-weight: bolder;
        font-size: 20px;
        white-space: pre-line;
    }
}

footer{
    display:flex;
    position:fixed;
    width:100%;
    bottom:20px;
    justify-content: center;


    .year-bar{
        display: flex;
        justify-content: center;
        width: 60%;
        background-color: rgba( white, 0.5);
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        #year{
            width: 96%;
        }
    }
    datalist{
        display: flex;
        width: 98%;
        justify-content: space-between;
        font-size: 14px;

    }
}
